body {
  background-color: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
}

h4 {
  margin: 5%;
}

h2 {
  margin-top: 20%;
}
#error-message {
  color: red;
  font-weight: bold;
  display: none;
}
#invalid-value-message {
  color: red;
  font-weight: bold;
}
.input {
  display: flex;
}

input {
  margin: 5px;
  max-width: 30vh;
}

button {
  margin: 5px;
  max-width: 20vh;
  padding: 5px 10px 5px 10px;
  background-color: darksalmon;
  border-radius: 10px;
}
