body {
  background-color: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
}

h4 {
  margin: 5%;
}

h2 {
  margin-top: 20%;
}
#error-message {
  color: red;
  font-weight: bold;
  display: none;
}
.input {
  display: flex;
}

input {
  margin: 5px;
  max-width: 30vh;
}

.buttons {
  display: flex;
  flex-direction: column;
}

button {
  margin: 5px;
  max-width: 20vh;
}
